{% set my_email = "graham@gmcgregor.ca" %}
{% import "macros.html" as func %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Graham McGregor">
  <title>{{ title if title else "Graham McGregor" }}</title>
  {% for item in meta_items %}
    <meta name="item.name" content="item.content">
  {% endfor %}

  <link href='/css/styles.css' rel='stylesheet' type='text/css'>
  {% block extra_css %}{% endblock %}
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- Icon block -->
  {% include "favicons.html" %}
  <!-- end of icon block -->

  <!--[if lt IE 9]>
    <script src="/lib/html5shiv.min.js"></script>
  <![endif]-->
</head>

<body>

<aside id="user_meta">
  <a href="//grahammcgregor.ca" class="nohover inblock">
    <img id="user-pic" onload='this.className += " loaded"' onerror='this.style.display = "none"'
      src="/images/a2a915f8a387cbf53d614da771be2cc3_600.jpeg" alt="">
    <h1>Graham McGregor</h1>
  </a>
  <p id="employment-title">Software Developer</p>
  <div id="social-links">
    {% call func.email_link(my_email) -%}<i class="fa fa-envelope fa-lg"></i>{%- endcall %}
    <a rel="external" href="https://github.com/Graham42/" title="GitHub"><i class="fa fa-github"></i></a>
    <a rel="external" href="https://plus.google.com/+GrahamMcGregor" title="Google+"><i class="fa fa-google-plus"></i></a>
    <a rel="external" href="https://twitter.com/Graham42x" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a rel="external" href="https://ca.linkedin.com/in/grahammcgregorx" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
  </div>
</aside>
<div id="content">
{% block content %}{% endblock %}
</div>

<!--[if lt IE 9]>
  <noscript>
    <div id="jsplz">Please enable JavaScript for a better experience on this site.</div>
  </noscript>
<![endif]-->
<script>/* jshint ignore:start */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69484382-1', 'auto');
  ga('send', 'pageview'); /* jshint ignore:end */
</script>
<!-- Basic email obfuscation, copied from cmetcalfe.ca -->
<script type="text/javascript">
  window.addEventListener('load', function(){
    var e = document.querySelectorAll(".email");
    for (var i = 0; i < e.length; i++) {
      var email = e[i].getAttribute("data-email")
      var title = e[i].getAttribute("data-title")
      if (email){
        e[i].href = email.split("").reverse().join("");
        e[i].removeAttribute("data-email");
        e[i].removeAttribute("data-title");
        e[i].removeAttribute("class");
        if (title){
          e[i].setAttribute("title", title);
        }
        else{
          e[i].removeAttribute("title");
        }
      }
    }
  })
</script>
{% block extra_js %}{% endblock %}

</body>
</html>
