{% extends "base.html" %}
{% block content %}
<main>
<p>Hello! You've reached the personal website of Graham McGregor.</p>

<p>If you interested in open source things I've worked on, be sure to check out my
<a href="https://github.com/Graham42/" title="GitHub">GitHub</a> page. Or perhaps you're interested
in hiring me, in that case, please feel free reach out over
<a href="https://ca.linkedin.com/in/grahammcgregorx" title="LinkedIn">LinkedIn</a> or by
{% call func.email_link(my_email) -%}Email{%- endcall %}.
</p>

 <p>This site is very much a work in progress so be sure to come back again soon.</p>
 </main>
{% endblock %}
