@font-face {
	font-family: 'font-awesome-subset-gmcgregor';
	src:url('fonts/font-awesome-subset-gmcgregor.eot?7ncb52');
	src:url('fonts/font-awesome-subset-gmcgregor.eot?7ncb52#iefix') format('embedded-opentype'),
		url('fonts/font-awesome-subset-gmcgregor.ttf?7ncb52') format('truetype'),
		url('fonts/font-awesome-subset-gmcgregor.woff?7ncb52') format('woff'),
		url('fonts/font-awesome-subset-gmcgregor.svg?7ncb52#font-awesome-subset-gmcgregor') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	font-family: 'font-awesome-subset-gmcgregor';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-envelope:before {
	content: "\f0e0";
}
.fa-github:before {
	content: "\f09b";
}
.fa-google-plus:before {
	content: "\f0d5";
}
.fa-linkedin:before {
	content: "\f0e1";
}
.fa-twitter:before {
	content: "\f099";
}
