@import 'html5';
@import 'font-awesome/style';


$light: #fafafa;
$dark: #444444;
$dark_invis: rgba(68,68,68,0);
$accent: #2196F3;
$warning: #FF5722;

$body_h_margin: 30px;
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $dark;
  background-color: $light;
  margin: 40px $body_h_margin;
  line-height: 1.6;
}
h1{
  font-size: 30px;
}

a {
  color: $dark;
  text-decoration: none;
  transition: all 0.2s;
}
a:not(.nohover) {
  &:hover{
    color: $accent;
  }
}
/* use a border to give underline effect with more space than text-decoration does */
p {
  a {
    border-bottom: 1px solid $dark;
  }
  a:not(.nohover) {
    &:hover{
      border-bottom: 1px solid $dark_invis;
    }
  }
}

#jsplz {
  position: fixed;
  top: 0;
  width: 100%;
  background: $warning;
  color: #000;
  margin-left: -1 * $body_h_margin;
  text-align: center;
}

#user_meta {
  text-align: center;
  h1, p {
    margin: 10px 0;
  }
}
#user-pic {
  $pic_size: 150px;
  width: $pic_size;
  height: $pic_size;
  border-radius: $pic_size;
  /* hidden until the image is loaded, a circular border around nothing looks silly
  * Also, this style wont be added if javascript is not enabled
  */
  &.loaded {
    border: 5px solid $dark;
    background-color: $dark;
    box-shadow: 0 0 1px $dark;
  }
}
#social-links {
  margin: 10px 0;
  a {
    font-size: x-large;
    padding: 0 7px;
  }
}
.inblock {
  display: inline-block;
}

main {
  max-width: 620px;
  margin: 40px auto;
}
